.foooter{
    margin-top: 150px;
    width: 100%;
    padding: 50px 10%;
    background-color:black;
    color: #efefef;
    display: flex;
       
}

.foooter div{
    text-align: center;

}
.col2{
    flex-grow: 2;
    border-bottom: 1px #fff;
}

.foooter div h2{
    font-weight: 300px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

form input{
    width: 250px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    background-color: black; 
    border: none;

}

.col3{
    margin-top: 40px;
    margin-bottom: 40px;
   
    
    
}

form button{
    width: 200px;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    color: #fff;
    background-color: black;
    outline-color: 1px #fff;
    border: 1px solid white;
}

.end{
    margin-top: 150px;
    width: 100%;
    padding: 50px 10%;
}